<ion-content>
  <div [formGroup]="form">
    <div class="ui-lg-6 ui-md-6 ui-g-12">
      <label>Username : </label>
      <input type="text" pInputText formControlName="username" />
    </div>
    <div class="ui-lg-6 ui-md-6 ui-g-12">
      <label>Password : </label>
      <input type="password" pPassword formControlName="password" />
    </div>
    <div class="ui-lg-6 ui-md-6 ui-g-12">
      <label>Email : </label>
      <input type="text" pInputText formControlName="email" />
    </div>
    <button
      pButton
      type="button"
      label="Register"
      (click)="register()"
    ></button>
  </div>
</ion-content>
